section {
  background: var(--color-primary);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.login .slogan {
  background: url('../../assets/images/backgroundLogin.svg');
  background-size: 480px 584px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .slogan > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .slogan > div > img {
  width: 334px;
  height: 97px;
}

.login .slogan > div > h2 {
  width: 229px;
  height: 56px;
  color: var(--color-text-in-primary);
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
}

.login .login-form {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-form form {
  width: 352px;
  height: 363px;
}

.login .login-form form header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #32264d;
  margin-bottom: 4rem;
}

.login .help span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
  display: flex;
}

.login .checkbox-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.login .checkbox-wrapper > input {
  outline: none;
  appearance: none;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  box-sizing: border-box;
  border-radius: 8px;

  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
}

.login .checkbox-wrapper > input:checked:before {
  content: '\2713';
  display: inline-block;
  color: white;
  padding-left: 4px;
}

.login .checkbox-wrapper > input:checked {
  background: #04d361;
  border: 2px solid #04d361;
  box-sizing: border-box;
  border-radius: 8px;
  color: red;
}

.login .help {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login form > button {
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 352px;
  height: 56px;
  border-radius: 0.8rem;
  border: 0;
  outline: transparent;
  margin-top: 4rem;
  line-height: 26px;
  transition: background 0.5s, color 0.5s;
}

.login form > button:enabled {
  background: #04d361;
  color: #ffffff;
  cursor: pointer;
}

.login form > button:disabled {
  background: #dcdce6;
  color: #9c98a6;
}

.login footer {
  display: flex;
  justify-content: space-between;
  padding-top: 12.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.login footer > p {
  width: 12.9rem;
  height: 5.2rem;
}

.login footer :nth-child(2) {
  margin-top: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #9c98a6;
}

.login footer :nth-child(2) img {
  width: 1.4rem;
  height: 1.2rem;
  margin-left: 0.8rem;
}

.login footer strong {
  color: var(--color-primary);
  text-decoration: underline;
}
