.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 1.4rem;
}

.input-block label {
  font-size: 1.4rem;
}

.input-block input {
  width: 100%;
  height: 5.6rem;

  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo, sans-serif;
}

.input-block::after,
.input-block::before {
  width: 0%;
  height: 2px;
  content: '';
  background-color: var(--color-primary-light);
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 0;
  transition: 0.4s;
}

.input-block::after {
  left: auto;
  right: 0;
}

.input-block:focus-within::after,
.input-block:focus-within::before {
  width: 50%;
  transition: 0.4s;
}

.input-block button {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

@media (min-width: 700px) {
  .input-block + .input-block {
    margin-top: 0;
  }
}
