.text-area-block {
  position: relative;
}

.text-area-block + .text-area-block {
  margin-top: 1.4rem;
}

.text-area-block label {
  font-size: 1.4rem;
}

.text-area-block textarea {
  width: 100%;
  height: 16rem;
  min-height: 8rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  resize: vertical;
  padding: 1.2rem 1.6rem;
  font: 1.6rem Archivo 700;
}

.text-area-block::after,
.text-area-block::before {
  width: 0%;
  height: 2px;
  content: '';
  background-color: var(--color-primary-light);
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 0;
  transition: 0.4s;
}

.text-area-block::after {
  left: auto;
  right: 0;
}

.text-area-block:focus-within::after,
.text-area-block:focus-within::before {
  width: 50%;
  transition: 0.4s;
}

@media (min-width: 700px) {
  .text-area-block + .text-area-block {
    margin-top: 0;
  }
}
